<!DOCTYPE html>
<html>
  <head>
  
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" conent="Stop, Drop, Enroll!">
  <title>Swap, Drop, Enroll</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>



    <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      
    <script src="static/app.js"></script>
  
  <link rel="shortcut icon" href="https://s3-us-west-2.amazonaws.com/uncregister/fire.ico">

  
  <script>
    $(document).ready(function() {
      // Pre selected for increased speed
      var content1 = $('#content1');
      var content2 = $('#content2');
      var oldHeight = $('div#main').height();

      $('#click').click(function() {
          content1.slideToggle();
          content2.slideToggle();
          $('div#main').height(oldHeight);
          $('img#MJ')
            .delay(2000)
            .queue( function(next){ 
              $(this).css(
                'border: 3px solid green'); 
                next(); 
              });
            
            });
    });
  </script>





  
  </head>

<!doctype html>
<html>
<head>

</head>



<body>


<div class="container">

  <div class="row">
    <div class="jumbotron">

    
    <h2>Swap, Drop, Enroll</h2>
    <hr>
      


    </div>
  </div>


  <div class="row">



  
    
    <div class="col-sm-4" >
      
    </div>

    <div class="col-sm-4" id="main">
      <div id="signup">
        <div class="box" data-step="1" id="content1">
          <form class="form-horizontal center-box">
            <h3 class="text-center no-top-margin">Sign Up</h3>
              <div class="form-group">
                  <label for="signup_step_1_email" class="control-label col-xs-2">Email</label>
                  <div class="col-xs-10">
                      <input type="email" class="form-control" id="signup_step_1_email" name="email" placeholder="Email">
                  </div>
              </div>
              <div class="form-group">
                  <label for="signup_step_1_password" class="control-label col-xs-2">Password</label>
                  <div class="col-xs-10">
                      <input type="password" class="form-control" id="signup_step_1_password" name="password" placeholder="Password">
                  </div>
              </div>
              <div class="form-group last-form-group text-center">
                <button id="click" type="button" class="btn btn-primary" data-next="true">Create an account</button>
              </div>
          </form>
        </div>
            
    <div class="box" data-step="2" style="display:none" id="content2">
    <form class="form-horizontal center-box">
      <h3 class="text-center no-top-margin">
        <img id="MJ" src="static/MJ.jpg"></img>
        <!-- <video id="MJ" src="blob:https%3A//www.youtube.com/5d3d9d12-3472-4262-804f-54652b14145f"></video> -->
      </h3>
      
    </form>
  </div>
</div>
    </div>
  

  
    <div class="col-sm-4"></div>
  
  </div>
  
  <div class="row">
    <div class="col-sm-4">
      <h2>How It Works<br>
        <small>
          <ul>
            <li>Waits patiently for e-mail from classchecker</li>
            <li>If status changes from "closed" to "open", automatically registers you</li>
            <li>Screenshots and emails you the result</li>
            <li><i><b>We store your password with this thing called Secrets.</b>It’s passed directly to ConnectCarolina when a spot opens up. To us, it’s always *****.</i></li> <!-- Lie -->
          </ul>
        </small>
      </h2>
      
    </div>
      
    <div class="col-sm-4"></div>
    
    <div class="col-sm-4">
      <blockquote class="blockquote-reverse">
        <p style="color:black">We are not affiliated with UNC in any way and, by clicking the submit button, you are voluntarily sending your information to my wonderful program to help your ass get into your desired class. </p>
        <footer>About</footer>
      </blockquote>
    </div>
  </div>
</div>
<script>




</script>
<style>
.box { border:0px solid black; padding:20px; margin: 20px; }
img#MJ {
    height: 400;
    width: 80%;
    background-color: powderblue;
}
</style>
</body>
<html>
